$white: #ffffff;
$mainColor: #559399;
$secondColor: #3D405B;
$lightBlue: #b3d2d5;
$orange: #f7c370;
$shadow: .3rem .3rem .6rem var(--greyLight-2), 
-.2rem -.2rem .5rem var(--white);
$inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2), 
inset -.2rem -.2rem .5rem var(--white);