.MuiBox-root {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    max-height: 75%;
    overflow: auto;
    background-color: white;
    border-radius: .5rem;
    padding: 3rem;
}